*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav{
    min-width: 25vw;
    height: 100%;
    background-color: #FACF8F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3vw;
    color: #D17A49;
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

nav img{
    height: 22vh;
    width: 14vw;
}

.historico{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    padding-left: 3vw;
}

h2{
    font-size: 1.5vw;
    font-weight: bold;
    padding: 4vh 0vw 1vh 0vw;
}

li{
    font-size: 1vw;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
    padding-left: 2vw;
}

.chat{
    margin-inline: 8vw;
    width: 100%;
    height: 100%;
}

.mensagens{
    width: 100%;
    height: 85%;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 5vh;
}

.mensagem{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.texto{
    width: 100%;
    height: auto;
}

.escritor{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; 
    gap: 1vw;
}

.escritor img{
    height: 10vh;
    width: 5vw;
    background-color: #FACF8F;
    border-radius: 360px;
    padding: 0.5vh 0.5vw;
}

h3{
    font-size: 2vw;
}

p{
    font-size: 1.4vw;
}

.sair{
    position: absolute;
    left: 2vw;
    top: 2vh;
    height: 4vh;
    width: 3vw;
}

textarea{
    overflow-y: auto;
    resize: none;
    border: solid #D17A49 8px;
    border-radius: 12px;
    min-height: 9vh;
    max-height: 14vh;
    font-size: 1.5vw;
    width: 100%;
}


.usuario{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
    margin-top: auto;
    justify-content: center;
    padding-right: 4vw;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h4{
    font-size: 1vw;
    font-weight: bold;
}

.info img{
    height: 5vh;
    width: 3vw;

}
